<!DOCTYPE html>
<html ng-app="MyApp">
    <head>
        <meta charset="UTF-8">
        <title>The Best Movie Rankings!</title> 
        <link href="/stylesheets/InfoPage.css" rel="stylesheet"> 
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="/javascripts/InfoController.js" type="text/javascript"></script>
       
    </head>
    <body ng-controller="infoController">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="grid-nav">
                <span class="navbar-brand center">
                    <i style="font-family: cursive" > Best Movie Ranking</i></span>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <div>
                                <a class="nav-item nav-link" id="top-movies" href="/MainPage">
                                    <i class="fas fa-chart-line"></i> Top Movies
                                </a>
                                <a class="nav-item nav-link" id="search-history" href="/HistoryPage">
                                    <i class="fas fa-clipboard-list"></i> Search History
                                </a>
                            </div>
                            
                            <a class="nav-item nav-link" id="loginpage" href="/">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </div>
                    </div>
            </nav>
    <div id="whole-container">
        <div id="movie-container">
            <span style="font-family: 'Gill Sans', sans-serif; color:ivory; font-size:40px; margin-left:30px;">
                <span id="info-title"></span>&nbsp<span id="release"> </span>
            </span>
            <div id="info-container">
                <div ng-init="addPoster()">
                    <img id="movie-poster">
                </div>
                <div id="movie-info">
                    <div style="color:white;"><span class="labels">DIRECTOR: </span> <span style='font-family: "Gill Sans", sans-serif;'  id="info-director"></span></div>
                    <div style="color:white;"><span class="labels">RUNTIME: </span> <span style='font-family: "Gill Sans", sans-serif;'  id="info-runtime"></span></div>    
                    <div style="color:white;"><span class="labels">GENRE: </span> <span style='font-family: "Gill Sans", sans-serif;'  id="info-genre"></span></div>
                    <div style="color:white;"><span class="labels">RATING: </span><span style='font-family: "Gill Sans", sans-serif;'  id="info-rating"></span></div>
                    <div style="color:white;"><span class="labels">SCORE: </span> <span style='font-family: "Gill Sans", sans-serif;'  id="info-score"></span></div>
                    <div style="color:white;"><span class="labels">CAST: </span> <span style='font-family: "Gill Sans", sans-serif;' id="info-actors"></span></div>
                </div>

            </div>
            <div id="movie-intro">
                <h4 style="padding:5px;">INTRODUCTION:</h4>
                <span id="intor"></span>
            </div>
            <div id="movie-reviews" >
                <p style="font-family: cursive; color:ivory; font-size:30px;margin-left: 20px;">REVIEWS:</p>
                <div class="reviews" ng-repeat="r in reviews">
                    <p style="border-bottom: 1px solid white;padding:5px; font-family: 'Gill Sans', sans-serif; color:ivory; -webkit-text-align-last:justify;width:850px;">
                        <span>Critic Publication: {{r.critic_publication}}</span><br>
                        <span>Review Date: {{r.review_date}}</span>
                    </p>
                    <p style="padding-left:5px; padding-right:5px;">
                          <I><span style="font-size:20px; content:'\201C';font-family: cursive;">&#8220;</span>
                          <span style="font-family: 'Gill Sans', sans-serif; font-size:20px;">{{r.review_content}}</span>
                          <span style="font-size:20px; content:'\201C';font-family: cursive;">&#8221;</span></I>
                    </p>
                </div>
            </div>     
        </div>
        <div id="rigth-container">
            <center><span style="font-family: cursive; color:ivory; font-size:30px" >YOU MAY ALSO LIKE...</span></center>
            <div id="rcmd">
                <div class="movie" ng-repeat="p in suggest">
                    <img src="{{p.poster_image_url}}" class="poster" ng-click="goInfo(p.movie_title)">
                    <center><span class="movie-title">{{p.movie_title}}</span></center>
                </div>
            </div>
        </div>
</div>
    </body>
        <script src="/javascripts/static2.js"></script>
</html>